.Home__container {
  height: 100vh;
  background-color: $redSimplon;

  .Home__container__logo {
    height: 500px;
    width: 500px;
    background: linear-gradient(0deg, #4481eb 50%, #04befe 100%);
    border-radius: 50%;
  }

  .Home__vertical__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Home__center__content {
    display: flex;
    justify-content: center;
    height: 100vh
  }

  .Home__container__button {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
  }

  .title-h1 {
    line-height: 160px;
  }
}
