.modal {
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
}

.modal-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  color: black;
  top: 6%;
  left: 79%;
  padding: 10px;
}
.display-block {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}
