$redCherry: #ce1f36;
$redSimplon: #cc233a;
$redDark: #880517;
$redDarker: #5e000b;
$blue: #2b59a6;
$blueDark: #174086;
$yellow: #ffcb4a;
$green: #1ea699;
$white: #ffffff;
$grey1: #eeeeee;
$grey2: #c1c1c1;
$grey3: #606060;
$greyLight: #d2d2d2;
$greyDark: #1a1a1a;
$text: #1f1f1f;
