.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

h2 {
  font-size: 80pt;
  font-weight: bold;
}

a {
  color: $white;
}

a:hover {
  color: $white;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerButton {
  display: flex;
  justify-content: space-between;
}

.HomeData__content__align {
  display: flex;
  justify-content: flex-start;
}

.HomeData__content__custom__button {
  border: none;
  background-color: #fff;
  color: $grey3;
}

.HomeData__content__align__buttons {
  display: flex;
  width: 66%;
  justify-content: flex-end;
}

.centerButton {
  display: flex;
  flex-direction: column;
}

.HomeData__content__input {
  width: 56%;
}

.HomeData__content__custom__card {
  margin-top: 20px;
  width: 18rem;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #888888;
}

.HomeData__content__title__h4 {
  padding-top: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.HomeData__content__text {
  font-size: 12px;
}

.HomeData__content__text__resources {
  color: $grey2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding-top: 240px;
}

.HomeData__content__button__see {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: radial-gradient(15px at 50% 50%, #b3f8ba 0%, #5ffb6f 100%);
  box-shadow: 0px 4px 4px rgba(95, 251, 111, 0.25);
}

.HomeData__content__button__delete {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: radial-gradient(15px at 50% 50%, #fd9a9a 0%, #fb5f5f 100%);
  box-shadow: 0px 4px 4px rgba(251, 95, 95, 0.25);
}
.HomeData__content__button__edit {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: radial-gradient(15px at 50% 50%, #adcef3 0%, #5fa7fb 100%);
  box-shadow: 0px 4px 4px rgba(95, 167, 251, 0.25);
}

.Modal__container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .Modal__confirmModal {
    display: flex;
    justify-content: space-around;
  }

  .Modal__main {
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #57a746;
    color: white;
    padding: 67px;
    border-radius: 10px;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

h3 {
  text-align: center;
}
