.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

h2 {
  font-size: 80pt;
  font-weight: bold;
}

a {
  color: $white;
}

a:hover {
  color: $white;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerButton {
  display: flex;
  justify-content: space-between;
}

.rightButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 80px;
}

.centerButton {
  display: flex;
  flex-direction: column;
}
