.Navbar_background_color {
  width: 100%;
  position: absolute;
  background-color: $redSimplon;
  z-index: 1;

  .Navbar__buttons {
    display: flex;
    align-items: center;
  }
}

h3 {
  font-size: 23pt;
  margin: 0;
  color: $white;
}
